.ResetPasswordForm {
  text-align: center;
  background-color: white;
  height: 100vh;
  width: 40%;
  border: 1px solid black;
  border-left: none;
  box-sizing: border-box;
}
/* .AlignResetPasswordTextLeft {
  width: 365px;
} */

.Space_btn {
  margin-bottom: 10px;
}
.input_Size {
  width: 320px;
}
.ResetPassword_btn {
  margin-bottom: 10px;
  width: 340px;
  height: 40px;
  background-color: #23b0ee;
  color: antiquewhite;
  border-radius: 10px;
}
.AlignHeaderResetPasswordTextLeft {
  width: 555px;
}
.alignResetPasswordTextCenter {
  text-align: center;
  width: 505px;
}
.alignGoBackToLoginTextCenter {
  text-align: center;
  width: 685px;
}
.AlignResetPasswordTextLeft {
  width: 589px;
}

.Form {
  margin-top: 20%;
  height: 315px;
  background: yellow;
}
