.Container {
  width: 57%;
  height: 620px;
  background-color: #ffffff;
}
.DisplayHorizontally {
  display: flex;
  margin-bottom: 10px;
}
.TextLabelColor {
  color: #848484;
}
.SpaceBtwLabels {
  width: 130px;
  text-align: right;
}
.InputField {
  width: 287px;
  margin-left: 50px;
}
.ButtonContainer {
  text-align: left;
  width: 44%;
  margin-left: 71px;
}
.UpdateButton {
  height: 40px;
  width: 190px;
  margin-right: 40px;
  background-color: #39a3d1;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
.CancelButton {
  height: 40px;
  width: 190px;
  background-color: #707070;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
