*{
    margin: 0;
    padding: 0;
}

.loanAgreementContainer{
    height: 100vh;
    width: 100%;
}

.loanAgreement{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loanAgreementLeft{
    width: 50%;
    height: 90vh;
    float: left;
}

.loanAgreementRight{
    background-color: white;
    width: 50%;
    height: 90vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loanAgreementRightContent{
    /* height: 80vh; */
    width: 70%;
    max-height: inherit;
}

.loanAgreementForm{
    /* margin-left: 2rem; */
    width: 90%;
    /* display: flex; */
    /* align-items: center; */
}

.row{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.LabelContainer{
    float: left;
    width: 30%;
    height: 2rem;
    font-size: 12px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.LabelContainer label{
    color: #707070;
    font-family: 'Droid serif', serif;
}


.InputContainer{
    width: 70%;
}

.InputContainer input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
    text-align: left;
    font-family: 'Droid serif', serif;
}

.loanAgreementHeader{
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.9rem;
    font-family: 'Droid serif', serif;
}

.commitmentText {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    font-size: 13px;
    height: 1.8rem;
    font-family: 'Droid serif', serif;
    font-style: italic;
    color: #707070;
}

.commitmentText:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: rgb(206, 206, 206);
    width: 60px;
}
.commitmentText:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: rgb(182, 182, 182);
    width: 60px;
}

.LoanAgreementBtn{
    color: white;
    background-color: #39a3d1;
    width: 75.48%;
    height: 40px;
    border: 1px solid #39a3d1;
    border-radius: 4px;
    font-family: 'Droid serif', serif;
    /* margin-left: 120px; */
}

.paymentDateLoanAgrementInput{
    width: 12.45rem;
}