* {
  padding: 0;
  margin: 0;
}

.Profilecontainer {
  height: 100vh;
  width: 100%;
}

.ProfileSide {
  height: 90vh;
  width: 100%;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileSideContainer {
  height: 75vh;
  width: 70%;
  background-color: #FFFFFF;
}

.profilePageTitle{
  text-align: center;
  font-size: 20px;
  height: 8%;
  line-height: 6vh;
}

#profileInputs {
  width: 250px;
  height: 1.8rem;
  font-size: 11px;
}

#profileLabel{
  font-size: 10px;
}

.buttonContainerContent {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.UploadProfilebuttonContainer {
  width: 55%;
  height: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.DisplayHorizontally {
  display: flex;
  margin-bottom: 10px;
}

.ProfileSideContainerLeft {
  float: left;
  width: 40%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProfileSideContainerRight {
  float: Right;
  width: 60%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ProfileSideContainerLeftContent {
  height: 60%;
  width: 100%;
  border-right: 1px solid #e2e2e2;
}

.imageHolder {
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  margin-bottom: 2rem;
}

.userName {
  color: #3D3D3D;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
.userRole {
  text-align: center;
  font-size: small;
  color: #3D3D3D;
  margin-bottom: 20px;
}

.uploadButton::-webkit-file-upload-button {
  visibility: hidden;
}
.uploadButton::before {
  content: 'Select some files';
  display: inline-block;
  background: #39a3d1;
  border: 1px solid #39a3d1;
  border-radius: 3px;
  padding: 10px 31px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 10pt;
  color: white;
}
.uploadButton:hover::before {
  border-color: black;
}
.uploadButton:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.removeButton {
    height: 2rem;
  width: 190px;
  background-color: white;
  color: #3D3D3D;
  white-space: nowrap;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 10pt;
  border: 1px solid #848484;
  border-radius: 4px;
}

.profileAvatarSurrounding {
  width: 10rem;
  height: 10rem;
  padding: 20px;
  background-color: white;
  border: 1px solid #848484;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other {
  width: 100%;
  position: relative;
}

.FinalButtonContainer {
 width: 85%;
 margin-left: 2rem;
}

.UpdateButton {
  height: 2rem;
  width: 130px;
  margin-right: 40px;
  background-color: #39a3d1;
  border-color: #39a3d1;
  color: white;
  border-radius: 4px;
  font-size: 12px;
}
.CancelButton {
  height: 2rem;
  width: 130px;
  background-color: #707070;
  border-color: #707070;
  color: white;
  border-radius: 4px;
  font-size: 12px;
}

.personalInfoProfile{
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  text-align: center;
  font-size: 13px;
  height: 1.8rem;
  font-family: 'Droid serif', serif;
  font-style: italic;
  color: #707070;
}

.userProfileHeader{
  margin-top: -1rem;
  margin-left: -3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7 rem;
}